gtts
pygame

transformers
sentence_transformers
nltk
diffusers
wikipedia
opencv-python
mutagen
newspaper3k
playsound
pydub
openai
speechrecognition
pyaudio
moviepy
torchvision
tensorboardx
ffmpeg
matplotlib
pynormalize
face_alignment
